<app-nav></app-nav>
<section id="skills">
    <div id="tech-container">
        <div id="tech-grid-container" >
          <div *ngFor="let tech of tech">
            <img [src]="tech.img" class="tech-items {{tech.level}}" title="{{tech.title}}">
          </div>
        </div>
    </div>
    <div id="lang-container">
        <div *ngFor="let lang of lang" class="lang-items">
            <img [src]="lang.img" title="{{lang.name}}" class="flag-items">
            <p class="lvl-items">{{lang.level}}</p>
            <a routerLink="/configurelanguages" class="fa fa-pencil fa-config" ></a>
            <a routerLink="/configurelanguages" class="fa fa-trash fa-config"></a>
        </div>
        <div>
          <a class="fa fa-pencil fa-config-skills" routerLink="/configureskills"><p class="fa-with-text">Editar habilidades</p></a>
        </div>
    </div>
</section>
