<app-nav></app-nav>
<section id="about-me">
    <div id="bio-container">
        <div id="photo-container">
            <figure>
              <img [src]="name.photo" class="photo-item">
            </figure>
            <figcaption>
                <p class="fig-name">{{name.nameUser}}</p>
                <p class="fig-title">{{name.ocupation}}</p>
            </figcaption>
        </div>
        <div class="scroll-container">
          <a class="fa fa-plus fa-config" routerLink="/addexperience"></a>
          <div *ngFor="let experience of experience" class="description-config-container certification-config">
            <a class="fa fa-pencil fa-config" routerLink="/configurexperience"></a>
            <a class="fa fa-trash fa-config" routerLink="/configurexperience"></a>
            <div class="about-containers">
              <p class="about-titles">{{experience.title}} / {{experience.company}}</p>
              <p class="about-subtitles">{{experience.description}}</p>
            </div>
          </div>
        </div>
        <div class="scroll-container">
          <a class="fa fa-plus fa-config" routerLink="/addeducation"></a>
          <div *ngFor="let education of certification" class="description-config-container certification-config">
            <a class="fa fa-pencil fa-config" routerLink="/configureducation"></a>
            <a class="fa fa-trash fa-config" routerLink="/configureducation"></a>
            <div class="about-containers">
              <p class="about-subtitles">{{education.school}}</p>
              <p class="about-titles">{{education.title}}</p>
            </div>
          </div>
        </div>
    </div>
</section>
