<app-nav></app-nav>
<section id="projects">
    <div class="slideshow-container">
        <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
        <div>
          <div class="mySlides2" *ngFor="let proj of project">
            <div class="slider-container-structure">
              <fieldset>
                <legend>Nombre del proyecto</legend>
                <input type="text" class="input-text-slider" placeholder="{{proj.title}}">
              </fieldset>
              <fieldset>
                <legend>Descripción del proyecto</legend>
                <input type="text" class="input-text-slider" placeholder="{{proj.description}}">
              </fieldset>
              <fieldset>
                <legend>¿Qué tecnologías tiene?</legend>
                <input type="text" class="input-text-slider" placeholder="{{proj.techs}}">
              </fieldset>
              <input type="text" class="input-link-slider" placeholder="Link de deploy del proyecto">
              <input type="text" class="input-link-slider" placeholder="Link del proyecto en GitHub">
            </div>
            <a class="save-configprojects-btn configproject-btn">Guardar</a>
            <a class="delete-configprojects-btn configproject-btn">Borrar</a>
            <a (click)="backClicked()" class="cancel-configprojects-btn configproject-btn">Cancelar</a>
          </div>
        </div>
        <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
    </div>
</section>
