#projects {
  height: 100vh;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: -1;
}

.slide-bottom-container {
  padding: 1em;
}

.title-slide-text {
  color: var(--white-off);
  font-size: 1.5em;
  padding: 0.5em;
}

.mySlides2 {
  display: none;
}

.slideshow-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4em;
}

.prev, .next {
  cursor: pointer;
  padding: 2.5em;
  color: var(--white-off);
  font-size: 3em;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 0.1em 0.1em 0;
  user-select: none;
}

.prev {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.next {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.prev:hover, .next:hover {
  transition: 0.3s;
  font-size: 3em;
  color: var(--white-on);
}

fieldset {
  margin: 0.25em 0;
  border-color: var(--white-off);
}

legend {
  color: var(--white-off);
  padding: 0 1em;
  font-size: 1.6em;
}

.slider-container-structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

.input-project-file {
  font-size: 1em;
  padding: 0.5em 0;
  color: var(--white-off);
}

.input-text-slider, .input-link-slider {
  width: 50vw;
  font-size: 1.88em;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0.2em 0.5em;
  color: var(--white-on);
}

.input-link-slider {
margin: 0.5em 0 ;
border-bottom: 0.01em var(--white-off) solid;
}

.configproject-btn {
  color: var(--black-on);
  padding: 0.45em 1.5em;
  text-decoration: none;
  border-radius: 2em;
  font-size: 1.8em;
  margin: 0 0.5em;
  text-align: center;
}

.configproject-btn:hover {
  transition: 0.5s;
  cursor: pointer;
}

.cancel-configprojects-btn {
  background-color: var(--white-off);
}

.cancel-configprojects-btn:hover {
  background-color: var(--white-on);
}

.save-configprojects-btn {
  background-color: var(--green_off);
}

.save-configprojects-btn:hover {
  background-color: var(--green_on);
}

.delete-configprojects-btn {
  background-color: var(--red_off);
}

.delete-configprojects-btn:hover {
  background-color: var(--red_on);
}
