<app-nav></app-nav>
<section id="contact">
    <div id="social-container">
      <div id="linkedin" class="social-items">
        <a href="{{name.linkedin}}" target="_blank" class="fa fa-social fa-linkedin"></a>
        <a href="{{name.linkedin}}" target="_blank" class="social-title">LINKEDIN</a>
      </div>
      <div id="github" class="social-items">
        <a href="{{name.github}}" target="_blank" class="fa fa-social fa-github"></a>
        <a href="{{name.github}}" target="_blank" class="social-title">GITHUB</a>
      </div>
      <div id="hackerrank" class="social-items">
          <a href="{{name.hackerrank}}" target="_blank" class="fa fa-social fa-code"></a>
          <a href="{{name.hackerrank}}" target="_blank" class="social-title">HACKERRANK</a>
      </div>
      <div id="leetcode" class="social-items">
        <a href="{{name.leetcode}}" target="_blank" class="fa fa-social fa-code"></a>
        <a href="{{name.leetcode}}" target="_blank" class="social-title">LEETCODE</a>
      </div>
    </div>
</section>
