<app-nav></app-nav>
<section id="contact">
    <div id="social-container">
      <div id="linkedin" class="social-items">
        <a href="{{josuehoenicka.linkedin}}" target="_blank" class="fa fa-social fa-linkedin"></a>
        <a href="{{josuehoenicka.linkedin}}" target="_blank" class="social-title">LINKEDIN</a>
      </div>
      <div id="github" class="social-items">
        <a href="{{josuehoenicka.github}}" target="_blank" class="fa fa-social fa-github"></a>
        <a href="{{josuehoenicka.github}}" target="_blank" class="social-title">GITHUB</a>
      </div>
      <div id="blogsite" class="social-items">
          <a href="{{josuehoenicka.gmail}}" target="_blank" class="fa fa-social fa-google"></a>
          <a href="{{josuehoenicka.gmail}}" target="_blank" class="social-title">GMAIL</a>
      </div>
    </div>
</section>
