nav {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 15vh;
  user-select: none;
  z-index: 1000;
  margin: 0.5em 0;
}

.show-mobile {
  display: none;
}

.logo-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .logo-nav {
    width: 22em;
    padding: 1.5em;
    opacity: 0.5;
    background-color: transparent;
    transition: 0.5s;
  }
  .logo-nav:hover {
    opacity: 1;
    cursor: pointer;
    transition: 0.5s;
  }
}

.navbar-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .navbar-items {
    color: var(--white-off);
    font-size: 1.9em;
    margin: 0 0.7em;
  }
  .navbar-items:hover {
    color: var(--white-on);
  }
  .btn-navbar {
    font-size: 1.9em;
    color: var(--white-on);
    padding: 0.35em 1em;
    border-radius: 2em;
    background-color: var(--white_off);
    color: var(--black-on);
    margin: 0 0.5em;
    transition: 0.5s;
  }
  .btn-navbar-active {
    background-color: var(--red_off);
    padding: 0.35em 1.4em;
    transition: 0.5s;
  }
  .btn-navbar:hover {
    transition: 0.5s;
    background-color: var(--white_on);
  }
    .btn-navbar-active:hover {
    background-color: var(--red_on);
  }
}

// Mobile
@media (min-width: 15em) and (max-width: 39.9em){
  nav {
    margin: 0;
  }
  .logo-nav-container, .navbar-container {
    display: none;
  }
  .show-mobile {
    display: block;
    z-index: 1000 !important;
    position: fixed;
    width: 100vw;
    background-color: #000000;;
    box-shadow: 0px 2px 5px rgb(black, .2);
    > div {
      padding: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        border: 0;
        background: transparent;
        img {
          width: 4em;
        }
      }
    }
  }
  .side-menu{
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    text-align: center !important;
    transform: translateX(-100%);
    transition: all ease-out .7s;
    &.active {
      transform: translateX(0);
    }
    button {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      font-family: 'Anton', sans-serif;
      font-size: 3.5em;
      color: red;
    }
    ul {
      list-style: none;
      li {
        font-size: 4em;
        margin: 0.5em 0;
        color: var(--white-on);
        a {
          font-family: 'Amatic SC', cursive;
          text-decoration: none;
          color: var(--white-on);
        }
      }
    }
  }
  .nav-name {
    font-family: 'Amatic SC', cursive;
    font-size: 3.2em;
    color: var(--white-on);
  }
}

// Tablet
@media  screen and (min-width: 40em) and (max-width: 63.9em){
}
