<nav>
  <div class="logo-nav-container">
      <img routerLink="/argprog" src="../../../assets/others/argprog.png" alt="argentina programa" class="logo-nav">
  </div>
  <div class="navbar-container">
    <a routerLink="/userabout" class="navbar-items">Sobre mí</a>
    <a routerLink="/userskills" class="navbar-items">Habilidades</a>
    <a routerLink="/userprojects" class="navbar-items">Proyectos</a>
    <a routerLink="/usercontact" class="navbar-items">Redes sociales</a>
    <a routerLink="/configureprofile" class="btn-navbar fa fa-user"></a>
    <a routerLink="/home" class="btn-navbar btn-navbar-active">Logout</a>
  </div>
</nav>
