.login-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.form-with-news-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  color: var(--white-on);
  width: 45vw;
  height: 10vh;
  font-size: 2.5em;
  padding-left: 0.1em;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 0.01em var(--white-off) solid;
}

form input:focus {
  border-bottom: 0.02em var(--white-on) solid;
  transition: 0.5s;
}

#password_login {
  margin: 0.9em 0;
}

#btn-container {
  display: flex;
  justify-content: center;
  width: 45vw;
  padding: 0.5em 0;
}

#btn-login-login {
  font-size: 2.5em;
  background-color: transparent;
  text-decoration: none;
  color: var(--black-on);
  background-color: var(--white_off);
  border-radius: 1em;
  border: none;
  width: 40vw;
}

#btn-login-login:hover {
  background-color: var(--white_on);
  cursor: pointer;
  transition: 0.5s;
}

#btn-return-login {
  font-size: 2.5em;
  background-color: transparent;
  text-decoration: none;
  color: var(--black-on);
  background-color: var(--red_off);
  border-radius: 1em;
  border: none;
  width: 40vw;
}

#btn-return-login:hover {
  color: var(--black-on);
  background-color: var(--red_on);
  cursor: pointer;
  transition: 0.5s;
}

#btn-register-login {
  font-size: 2.5em;
  background-color: transparent;
  text-decoration: none;
  color: var(--black-on);
  background-color: var(--green_off);
  border-radius: 1em;
  border: none;
  width: 40vw;
  text-align: center;
}

#btn-register-login:hover {
  color: var(--black-on);
  background-color: var(--green_on);
  cursor: pointer;
  transition: 0.5s;
}

.news-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#news {
  width: 30em;
  opacity: 0.5;
}

#news:hover {
  width: 30em;
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}

footer {
  user-select: none;
}

.footer-title {
  display: flex;
  width: 100vw;
  padding: 1em;
  justify-content: center;
  align-items: center;
  color: var(--white-off);
  font-size: 2.2em;
}

.link-footer {
padding-left: 0.2em;
text-decoration: none;
color: var(--white-off);
}


.link-footer:hover {
  letter-spacing: 0.05em;
  transition: 0.333s;
  color: var(--white-on);
}



