section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
}

input {
  width: 50vw;
  margin: 0.05em 0;
  height: 1.7em;
  font-size: 2em;
}

.input_register {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0.2em 0.5em;
  color: var(--white-on);
  transition: all ease .1s;
}

.input_register:focus {
  border-left: 0.2em solid var(--red_active);
  &.valid {
    border-left: 0.2em solid var(--green_active);
  }
}


.btn-register {
  margin: 0.25em 0;
  padding: 0.25em 0;
  background-color: var(--green_off);
  width: 25vw;
  font-size: 2em;
  border-radius: 1em;
}

.btn-register:hover {
  background-color: var(--green_on);
  transition: 0.5s;
  cursor: pointer;
}

.btn-back {
  margin: 1em 0 0.25em 0;
  padding: 0.25em 0;
  background-color: var(--white-off);
  width: 25vw;
  font-size: 2em;
  border-radius: 1em;
}

.btn-back:hover {
  background-color: var(--white-on);
  transition: 0.5s;
  cursor: pointer;
}

#others-container_register {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1em;
}

#others-title_register {
  font-size: 1.3em;
  color: var(--white-off);
}

#social-container_register {
  padding-top: 1em;
}

.welcome-message {
  font-size: 1.8em;
  color: var(--white-on);
}
