<app-nav></app-nav>
<section id="projects">
  <div class="container">
    <div class="inputs-container">
      <fieldset>
        <legend>Institución</legend>
        <input type="text" class="input-text" placeholder="(ejemplo: Universidad Nacional de Rosario)" maxlength="50">
      </fieldset>
      <fieldset>
        <legend>Certificación / Carrera</legend>
        <input type="text" class="input-text" placeholder="(ejemplo: Licenciatura en Ciencias de la Computación)" maxlength="50">
      </fieldset>
    </div>
    <div class="btn-container">
      <a class="save-configprojects-btn configproject-btn">Guardar</a>
      <a (click)="backClicked()" class="cancel-configprojects-btn configproject-btn">Cancelar</a>
    </div>
  </div>
</section>
