<app-nav></app-nav>
<section id="projects">
    <div class="slideshow-container">
        <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
        <div>
          <div class="mySlides2" *ngFor="let proj of project">
            <h4 class="slider-title">{{proj.title}}</h4>
            <a href="{{proj.link_github}}" target="_blank" class="fa fa-github fa-on-projects"></a>
            <a href="{{proj.link_google}}" target="_blank" class="fa fa-chrome fa-on-projects"></a>
          </div>
          <div class="slide-bottom-container">
            <p class="title-slide-text">Haz clic en las flechas para desplazar</p>
            <a class="fa fa-pencil fa-config-projects" routerLink="/configureprojects"><p class="fa-with-text">Editar proyectos</p></a>
            <a class="fa fa-plus fa-config-projects" routerLink="/addprojects"><p class="fa-with-text">Agregar proyectos</p></a>
          </div>
        </div>
        <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
    </div>
</section>
