<section>
  <p *ngIf="nameRegister; else elseWelcomeMessage" class="welcome-message">Nice to meet you, {{nameRegister}} !</p>
  <ng-template #elseWelcomeMessage>
    <p class="welcome-message">Nice to meet you !</p>
  </ng-template>
  <form action="/register" method="POST">
      <input [(ngModel)]="nameRegister" [class.valid]="nameRegister" [autocomplete]="true" type="text" name="name_register" placeholder="Full name (Josue Hoenicka)" id="name_register" class="input_register" autocomplete="off" maxlength="50" required>
      <input [(ngModel)]="emailRegister" type="email" [class.valid]="emailRegister" [autocomplete]="true" name="email_register" placeholder="Email (example@email.com)" id="email_register" class="input_register" maxlength="50" required >
      <input [(ngModel)]="descriptionRegister" type="text" [class.valid]="descriptionRegister" [autocomplete]="true" name="ocupation_register" placeholder="What kind of service (Contractual, temporary, freelance, customized)" id="ocupation_register" class="input_register input_active" required autocomplete="off" maxlength="50">
      <button type="submit" class="btn-back" routerLink="/home">Back</button>
      <button type="submit" class="btn-register" routerLink="/home">Send</button>
  </form>
</section>
