<nav>
    <div class="show-mobile">
      <div>
        <button (click)="toggleMenu()" [class.active]="activeMenu">
          <img src="../../../../assets/items/nav.svg" alt="menu">
        </button>
        <p class="nav-name" routerLink="/home">Josue Hoenicka</p>
      </div>
      <div class="side-menu" [class.active]="activeMenu">
        <button (click)="toggleMenu()">X</button>
        <ul>
          <li><a routerLink="/about">About me</a></li>
          <li><a routerLink="/skills">Skills</a></li>
          <li><a routerLink="/projects">Experience</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a href="../../../../assets/personal/cv.pdf">CV</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-container">
      <select name="" id="" (change)="onChangeLanguage($event)">
        <option value="english">ENGLISH</option>
        <option value="spanish">SPANISH</option>
        <option value="portuguese">PORTUGUESE</option>
      </select>
      <div>
        <a *ngFor="let i of josuehoenicka.navbar" routerLink="/{{i.router}}" class="navbar-items">{{i.link}}</a>
        <a routerLink="/contract" class="btn-navbar">{{josuehoenicka.contract}}</a>
      </div>
    </div>
</nav>
