@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');

nav {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 15vh;
  user-select: none;
  z-index: 1000;
  margin: 0.5em 0;
}

.show-mobile {
  display: none;
}

.navbar-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  select {
    color: var(--white-off);
    font-size: 2.5em;
    margin-left: 0.5em;
    padding: 0.2em 1.25em;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 20px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M22.5 10L15 17.5 7.5 10"/></svg>') no-repeat right center; /* This sets a custom background image for the dropdown indicator */
    background-size: 20px;
  }
  select::-ms-expand {
    display: none;
  }
  select:focus {
    outline: none;
    box-shadow: none;
  }
  .navbar-title:hover {
    color: var(--white-on);
  }
  .navbar-items{
    color: var(--white-off);
    font-size: 1.9em;
    margin-right: 1.5em;
  }
  .navbar-items:hover {
    color: var(--white-on);
  }
  .btn-navbar {
    font-size: 1.9em;
    color: var(--white-on);
    padding: 0.35em 1em;
    border-radius: 2em;
    background-color: var(--white-off);
    color: var(--black-on);
    margin-right: 0.25em;
    transition: 0.5s;
    cursor: pointer;
  }
  .btn-navbar:hover {
    background-color: var(--white-on);
  }
}

// Mobile
@media (min-width: 15em) and (max-width: 39.9em){
  nav {
    margin: 0;
  }
  .logo-nav-container, .navbar-container {
    display: none;
  }
  .show-mobile {
    display: block;
    z-index: 1000 !important;
    position: fixed;
    width: 100vw;
    background-color: #000000;;
    box-shadow: 0px 2px 5px rgb(black, .2);
    > div {
      padding: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        border: 0;
        background: transparent;
        img {
          width: 4em;
        }
      }
    }
  }
  .side-menu{
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    text-align: center !important;
    transform: translateX(-100%);
    transition: all ease-out .7s;
    &.active {
      transform: translateX(0);
    }
    button {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      font-family: 'Anton', sans-serif;
      font-size: 3.5em;
      color: red;
    }
    ul {
      list-style: none;
      li {
        font-size: 4em;
        margin: 0.5em 0;
        color: var(--white-on);
        a {
          font-family: 'Amatic SC', cursive;
          text-decoration: none;
          color: var(--white-on);
        }
      }
    }
  }
  .nav-name {
    font-family: 'Amatic SC', cursive;
    font-size: 3.2em;
    color: var(--white-on);
  }
}

// Tablet
@media  screen and (min-width: 40em) and (max-width: 63.9em){
}
