@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



:root {
    --white_on: #9faff1fa;
    --white_off: #9faff1a1;
    --green_active: rgb(89, 197, 89);
    --green_on: rgb(151, 196, 151);
    --green_off: rgba(151, 196, 151, 0.596);
    --red_active: rgb(252, 77, 77);
    --red_on: rgb(223, 142, 142);
    --red_off: rgba(223, 142, 142, 0.582);
    --blue_on: rgb(100, 171, 219);
    --blue_off: rgba(100, 171, 219, 0.651);
    --orange_on: rgb(206, 153, 55);
    --orange_off: rgba(206, 153, 55, 0.253);
    --white-off: #ffffff63;
    --black-on: #03050c;
    --white-on: #ffffffa8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Alumni Sans Pinstripe';
    text-decoration: none;
    background-color: var(--black-on);
}

body::-webkit-scrollbar {
    display: none;
}

.fa {
  padding: 0.4em;
  text-decoration: none;
  color: var(--white-off);
}

.fa-social {
  font-size: 3.5em !important; /* Fix bug icons */
}

.fa-pencil {
  color: var(--blue_off) !important; /* The important is not to damage the effect of social networks, when removing the important the 'fa' of edition and delete will be white */
}

.fa-pencil:hover {
  color: var(--blue_on) !important; /* The important is not to damage the effect of social networks, when removing the important the 'fa' of edition and delete will be white */
  cursor: pointer;
  transition: 0.5s;
}

.fa-trash {
  font-size: 2em;
  color: var(--red_off) !important; /* The important is not to damage the effect of social networks, when removing the important the 'fa' of edition and delete will be white */
}

.fa-trash:hover {
  color: var(--red_on) !important; /* The important is not to damage the effect of social networks, when removing the important the 'fa' of edition and delete will be white */
  cursor: pointer;
  transition: 0.5s;
}

.fa-chrome {
    font-size: 2.6em !important; /* The important is because the 'fa' of google is bigger than the others by default */
}

.fa-chrome:hover, .fa-github:hover {
    color: var(--white-on);
    cursor: pointer;
    transition: 0.5s;
}

.fa-plus {
    display: flex;
    justify-content: center;
    font-size: 2em;
    padding-top: 1em;
    color: var(--green_off);
}

.fa-plus:hover {
    color: var(--green_on);
    cursor: pointer;
    transition: 0.5s;
}

.fa-config {
    font-size: 2em;
}

.fa-config-skills {
    display: flex;
    font-size: 2em;
    padding-top: 2em;
}

.fa-config-projects {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.fa-with-text {
    font-size: 1.2em;
    padding: 0 1em;
    font-family: 'Alumni Sans Pinstripe';
}

.fa-on-projects {
    font-size: 3em;
    padding: 0.25em 0.5em;
}

/* Width unknown */
@media (max-width: 14.9em){
  app-root {
    display: none;
  }
  body {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 100vw;
      height: 100vh;
      background-image: linear-gradient(
          0deg,
          rgba(0,0,0,0.8),
          rgba(0,0,0,0.8)
      ) , url(./assets/backgrounds/error.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
      background-position-y: center;
  }
}
