#argprog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-top: 2em;
  user-select: none;
}

#argprog-container {
  width: 100vw;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.argprog-title {
  text-align: center;
  font-size: 2em;
  color: var(--white-on);
}

.argprog-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 3em;
}

.argprog-description {
  text-align: justify;
  display: flex;
  flex-direction: column;
  font-size: 1.6em;
  line-height: 1;
  text-rendering: geometricPrecision;
  padding-top: 0.5em;
  color: var(--white-on);
}

.argprog-subtitle {
  text-align: justify;
  font-size: 1em;
  padding-top: 1em;
  color: var(--white-on);
}

.btns-container {
  margin-top: 7em;
}

.return-argprog-btn, .more-argprog-btn  {
  background-color: var(--white_off);
  color: var(--black-on);
  padding: 0.5em 2.5em;
  text-decoration: none;
  border-radius: 2em;
  font-size: 1.7em;
  margin: 0 2em;
  text-align: center;
}

.more-argprog-btn {
background-color: var(--white-off);
}

.return-argprog-btn:hover, .more-argprog-btn:hover {
  background-color: var(--white_on);
  transition: 0.5s;
  cursor: pointer;
}

.more-argprog-btn:hover {
  background-color: var(--white-on);
}
