<section id="argprog">
  <div id="argprog-container">
    <div id="github" class="argprog-items">
      <p  class="argprog-title">¿Qué es Argentina Programa?</p>
      <p class="argprog-description">
          "Es una política pública que busca capacitar a nuevos talentos para potenciar la Economía del Conocimiento. Los contenidos del curso están diseñados tanto para quienes se acercan a la programación por primera vez como para quienes tienen conocimientos en el tema"
          <br>
          <br>
          "El curso está estructurado en dos etapas, #SéProgramar y #YoProgramo. La primera es una fase introductoria en la que se enseñan los fundamentos básicos de la programación y la segunda tiene por objetivo profundizar los conocimientos y capacitar a las personas en un perfil Web Full Stack Junior"
          <br>
          <br>
          "La cursada tiene una duración de 7 meses y una carga horaria estimada en un mínimo de 250 horas y un máximo 480 horas, dependiendo del tiempo que te lleve cada módulo"</p>
    </div>
    <div id="linkedin" class="argprog-items">
      <p  class="argprog-title">Mi experiencia en Argentina Programa</p>
      <p class="argprog-description">
          Personalmente el curso me aporto mucho en mi perfil profesional dentro la programación, me dieron mucha noción en diversos temas, mejoré mi código, aprendí nuevas tecnologías como Angular, TypeScript, MySQL, Java, Spring Boot, entre otras; y también perfeccione otras como HTML5, CSS3, JavaScript; Fuera de la programación también aprendí otros temas como por ejemplo la metodología SCRUM
          <br>
          <br>
          Por supuesto durante la cursada estuve constantemente buscando y aprendiendo por diversas fuentes. Hay un excelente y extenso contenido en Argentina Programa, pero para aprender en esta profesión no basta de sólo hacer un bootcamp, curso o ir a la universidad y conformarse con lo que nos enseñen ¡Los ánimo a aprender constantemente!
          <span class="argprog-subtitle">Josue Hoenicka (Diciembre, 2022)</span>
      </p>
    </div>
  </div>
  <div class="btns-container">
      <a href="https://www.argentina.gob.ar/latiendo/queres-capacitarte-y-estudiar/argentina-programa" target="_blank" class="more-argprog-btn">Más información</a>
      <a (click)="backClicked()" class="return-argprog-btn">Volver al portfolio</a>
  </div>
</section>
