<app-nav></app-nav>
<section id="projects">
    <!-- <div class="slideshow-container">
        <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
        <div class="slide-container">
          <div class="mySlides2" *ngFor="let proj of project">
            <h4 class="slider-title">{{proj.title}}</h4>
            <p class="slider-description">{{proj.description}}</p>
            <a href="{{proj.link_github}}" target="_blank" class="fa fa-github fa-on-projects"></a>
            <a href="{{proj.link_google}}" target="_blank" class="fa fa-chrome fa-on-projects"></a>
          </div>
          <div class="slide-bottom-container">
            <p class="title-slide-text">Click to slide</p>
          </div>
        </div>
        <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
    </div>
    <div class="only-mobile">
      <div class="projects-to-mobile" *ngFor="let proj of project">

        <div class="projects-mobile">
          <h4 class="slider-title">{{proj.title}}</h4>
          <a href="{{proj.link_github}}" target="_blank" class="fa fa-github fa-on-projects"></a>
          <a href="{{proj.link_google}}" target="_blank" class="fa fa-chrome fa-on-projects"></a>
        </div>
      <hr>
      </div>
    </div> -->
</section>
